$basicColor = #bca;

verticalC(param) {
  height: param;
  line-height: param;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.clearfix {
  zoom: 1;
}